# Ignore all 
*



# Unignore all with this directories:

!SqueezeDetFromScratch/final/*
!SqueezeDetFromScratch/final/sqzdet_c/*/
!SqueezeDetFromScratch/final/sqzdet_py/*/
!/SqueezeDetTraining/
!/SqueezeDetTraining/imagenes/*
!/imagenes/


# Unignore all with extensions

!*.c
!*.py
!*.md
!*.png
!*.vhd
!*.v
!/.gitignore
!*.xdc
