# Ignore all 
/*
.*
/*/
!/SqueezeDetFromScratch/
!/SqueezeDetTraining/imagenes/
!/SqueezeDetTraining/*.md/
!/imagenes/


# Unignore all with extensions

!*.c
!*.py
!*.md
!*.png
!*.vhd
!*.v
!/.gitignore
!*.xdc
